a{text-decoration: none;color: #999;}
a:hover,a:active,a:focus{text-decoration: none;}
ul{list-style: none;}
em,i{font-style: normal;}
*{font-family: '微软雅黑'}

.err{color:#FF4A4D !important;}

.reply{border-top: 1px dashed #ccc;margin-left: 75px;padding-top: 10px;}
.reply .title{font-size: 15px;}
.reply .th img{height: 48px;width: 48px;}

._user span{color: #fff;font-size: 16px;}

/* 点赞图标 */
.assist{background: url(../img/act01.png) no-repeat;}
.message{background: url(../img/act02.png) no-repeat;}

.text-area{margin-left: 75px;margin-bottom: 10px;display: none;}
.text-area textarea{width: 100%;height: 100%;margin-bottom: 10px;}
.main{margin-top: 50px;background-color: rgba(177,177,177,0.36);}
.main-body{background-color: #fff;margin: 20px auto;padding: 30px;}
/* 个人主页 */
.user-main{position: relative;top: 50px;padding: 30px 0;}
.user-main .info{background-color: #fff;padding: 20px;}
.user-main .photo{display: inline-block;border-right: 1px solid #ccc;}
.user-main img{border-radius: 50%;}
.tips{color: #e04545;font-size: 14px;margin-left: 15px;position: relative;top: 7px;display: none;}

.person-board{position: absolute;top: 52px;background-color: #fff;border: 1px solid #ccc;display: none;min-width: 100px;}

/** 发表博客页面 */
.blog{}
.blog .blog-body{border-top: 1px dashed #ccc;padding: 15px;}
.blog>.blog-body>.blog-user p{font-size: 12px;}
.blog>.blog-body>.blog-user>p:first-child{font-size: 16px;}
.blog .blog-photo a{display: inline-block;border-radius: 50%;overflow: hidden;}
.blog .blog-photo img{width: 48px;height: 48px;}
.blog-title a{color: #403a3a;}
.blog-title a:hover{color: #ec914f;}
.blog-hot span{margin-right: 35px;color: #9e9d9d;font-size: 12px;}
.length-span{position: absolute;right: 40px;bottom: 3px;color: #f12c0b;}
.color-ok{color: #1b98d6}

/* 博客列表页面 */
.page{display: block;text-align: right;}
.page a{display: inline-block;height: 25px;vertical-align: top}
.page .page-prev,.page .page-next{width: 25px;border-radius: 50%;}
.page .page-prev{background-image: url(../img/pre.png);}
.page .page-next{background-image: url(../img/next.png);}
.page .page-on{color: #3765c2;background: #ced2de;}
.page .page-num,.page .dot-prev,.page .dot-next{color: #333;line-height: 25px;width: 25px;border-radius: 50%;text-align: center;}

/* 设置个人信息 */
.setting-photo{text-align: center;padding: 20px 0;}
.setting-photo a{display: inline-block;position: relative;border-radius: 50%;overflow: hidden;border: 1px solid #286ed2;}
.setting-photo input{position: relative;opacity: 0;height: 72px;width: 72px;display: inline-block;z-index: 1;border-radius: 50%;}
.setting-photo img{position: absolute;height: 72px;width: 72px;left: 0;border-radius: 50%;}

.setting-length{position: absolute;top: 11px;right: 21px;color: #2c27ff;}

/* 博客详情页面  */
.detail{margin: 30px auto;padding: 30px 10px;background-color: #fff;}
.detail .logo{line-height: 48px;text-align: center;font-size: 23px;background-color: #3765c2;color: #fff;}
.detail .title{font-size: 18px;color: #3765c2;}
.detail .user>a:first-child{display: inline-block;height: 32px;width: 32px;border-radius: 50%;overflow: hidden;}
.detail .user img{height: 100%;}
.detail .user span{position: relative;bottom: 8px;margin-left: 20px;color: #999;}
.detail>.content{padding: 20px;}


.comment_wrap{position: relative;border-bottom: 1px dashed #ccc;margin-top: 16px;}
.comment_wrap .th{float: left;border-radius: 50%;overflow: hidden;margin-right: 10px;}
.comment_wrap .th a{display: block;}
.comment_wrap .th img{height: 64px;width: 64px;}
.comment_wrap .title{padding-top: 5px;font-size: 16px;margin-bottom: 10px;margin-left: 75px;}
.comment_wrap .content{margin-left: 75px;margin-bottom: 10px;color: #4c4c4c;}
.comment_wrap .action{margin-left: 75px;margin-bottom: 10px;color: #999;}
.comment_wrap .action a{margin-left: 30px;}
.comment_wrap .action>.assist,.comment_wrap .action>.message{padding-left: 20px;background-position: left top;}
.comment_wrap .action>.assist:hover{background-position: left bottom;}
.comment_wrap .action>.message:hover{background-position: left bottom;}
.act-on{background-position: left bottom !important;color: #428bca;}
.comment-logo{font-size: 18px;font-weight: bold;border-bottom: 1px solid #ccc;padding-bottom: 15px;}
.comment_wrap .reply-area{margin-left: 75px;margin-bottom: 10px;color: #999;}
.reply-area button{margin-top: 6px;margin-right: 20px;}
.reply .th img{width: 48px;height: 48px;}
.comment_content button{margin-right: 20px;margin-top: 7px;}
.comment-login-no{margin: 10px;background-color: #f2f2f2;color: #666;text-align: center;font-size: 14px;line-height: 60px;font-weight: normal;}
.comment-login-no>a>span{color: #3765c2;}
.comment_content>.length{position: absolute;right: 15px;bottom: 44px;font-size: 12px;font-weight: normal;color: #2aabd2;}
